.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-top: 3rem;
  padding-bottom: 5rem;
  height: 100vh;

  &__wrapper {
    gap: 2.5rem;

    @media (max-width: em(1230)) {
      gap: 1.5rem;
    }

    @media (max-width: em(1024)) {
      .panel {
        display: none;
      }
    }
  }

  &__chat {
    position: relative;
    display: flex;
    flex-direction: column;
    border: 0.1rem solid var(--clr-default-200);
    border-radius: 2rem;
    padding-bottom: 3rem;
    padding-left: 5rem;
    width: 100%;
    min-height: 80rem;
    max-width: 96rem;
    background-color: var(--clr-default-250);
    backdrop-filter: blur(2rem);

    &-content {
      margin-bottom: 2rem;
      padding-top: 2rem;

      .wrapper-scroll {
        padding-right: 5rem;
        padding-bottom: 1rem;
        max-height: 66rem;

        @media (max-width: em(767)) {
          padding-right: 2rem;
        }
      }

      .simplebar-scrollbar:before {
        border-radius: 0.3rem;
        width: 0.6rem;
        background-color: rgb(227 227 227);
        opacity: 1;
      }

      .simplebar-scrollbar.simplebar-visible:before {
        opacity: 1;
      }

      .simplebar-track {
        right: 0.3rem;
      }
    }

    &-navigation {
      margin-top: auto;
      padding-right: 5rem;

      &-wrapper {
        gap: 2rem;

        @media (max-width: em(767)) {
          flex-direction: column-reverse;
        }
      }

      @media (max-width: em(767)) {
        gap: 0.5rem;
        padding-right: 1.5rem;
      }
    }

    &-button {
      position: relative;
      flex-shrink: 0;
      gap: 1rem;
      border-radius: 1.6rem;
      padding-right: 1.2rem;
      padding-left: 1.2rem;
      min-height: 4rem;
      color: var(--clr-default-100);
      background: linear-gradient(
        125.39deg,
        rgb(149, 102, 254) -14.17%,
        rgb(251, 199, 212) 129.528%
      );

      span {
        z-index: 1;
      }

      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        border-radius: inherit;
        width: 100%;
        height: 100%;
        transition: opacity var(--transition);
      }

      &::before {
        background: linear-gradient(
          125.39deg,
          rgb(149, 102, 254) -14.17%,
          rgb(251, 199, 212) 129.528%
        );
      }

      &::after {
        background: linear-gradient(
          125.39deg,
          rgb(149, 102, 254) 14.17%,
          rgb(251, 199, 212) 129.528%
        );
        opacity: 0;
      }

      @media (hover) {
        &:hover {
          &::before {
            opacity: 0;
          }

          &::after {
            opacity: 1;
          }
        }
      }
    }

    &-input {
      position: relative;
      border: 0.1rem solid transparent;
      border-radius: 1.6rem;
      width: 100%;
      background-color: var(--clr-default-120);
      transition: border var(--transition);

      input {
        outline: none;
        border-radius: inherit;
        padding-right: 5rem;
        padding-left: 2.5rem;
        width: 100%;
        min-height: 4rem;

        &::placeholder {
          font-size: 1.4rem;
          color: #888;
        }
      }

      &-submit {
        position: absolute;
        right: 0.4rem;
        top: 50%;
        border-radius: 50%;
        width: 3.2rem;
        height: 3.2rem;
        background-color: var(--clr-default-400);
        transform: translateY(-50%);

        .arrow {
          transition: transform var(--transition);
        }

        @media (hover) {
          &:hover {
            .arrow {
              transform: translateX(0.1rem) translateY(-0.1rem);
            }
          }
        }
      }

      &:focus-within {
        border: 0.1rem solid var(--clr-default-450);

        .hero__chat-input-submit {
          .arrow {
            transform: translateX(0.1rem) translateY(-0.1rem);
          }
        }
      }
    }

    &-queries {
      position: relative;
      margin-top: 1rem;
      margin-left: auto;

      &-helper {
        position: absolute;
        left: 0;
        bottom: 2.5rem;
        z-index: -1;
        gap: 1.5rem;
        border-radius: 0.8rem;
        padding: 0.8rem;
        max-width: 22rem;
        background-color: var(--clr-default-460);
        opacity: 0;
        visibility: hidden;
        transition: opacity var(--transition), visibility var(--transition),
          z-index var(--transition);

        p {
          font-size: 1.4rem;
          line-height: 145%;
          color: var(--clr-default-100);
        }
      }

      &-btn {
        width: 100%;

        .text {
          background-color: var(--clr-primary-200);
        }
      }

      &-text {
        font-size: 1.4rem;
        line-height: 145%;
        color: var(--clr-default-450);
        cursor: pointer;
      }

      @media (hover) {
        &:hover {
          .hero__chat-queries-helper {
            z-index: 1;
            opacity: 1;
            visibility: visible;
          }
        }
      }

      &::focus {
        .hero__chat-queries-helper {
          z-index: 1;
          opacity: 1;
          visibility: visible;
        }
      }
    }

    //guide
    &-guide {
      gap: 5rem;
      padding-top: 25rem;

      @media (max-width: em(1200)) {
        padding-top: 15rem;
      }

      @media (max-width: em(767)) {
        gap: 3rem;
        padding-top: 5rem;
      }
    }

    &-user-message {
      position: relative;
      margin-left: auto;
      border-radius: 2rem 2rem 0 2rem;
      padding-top: 2rem;
      padding-right: 1.5rem;
      padding-bottom: 2rem;
      padding-left: 1.5rem;
      max-width: 40rem;
      font-size: 1.6rem;
      line-height: 147%;
      background-color: var(--clr-default-120);

      &::before {
        content: "";
        position: absolute;
        right: 0;
        bottom: -16px;
        border: 0 solid transparent;
        border-top: 20px solid var(--clr-default-120);
        border-right-width: 0px;
        border-left-width: 23px;
        width: 0;
        height: 0;
      }

      @media (max-width: em(575)) {
        padding-top: 1.5rem;
        padding-right: 1rem;
        padding-bottom: 1.5rem;
        padding-left: 1rem;
      }
    }

    &-bot-message {
      gap: 1.5rem;
    }

    &-bot-message-info {
      gap: 2.5rem;

      p {
        font-size: 1.6rem;
        line-height: 147%;
      }
    }

    &-bot-answer {
      gap: 2.5rem;

      @media (max-width: em(767)) {
        flex-direction: column;
        gap: 0.5rem;
      }
    }

    &-bot-avatar {
      flex-shrink: 0;
      max-width: 4rem;
    }

    &-bot-list {
      gap: 1rem;
      padding-left: 1.5rem;

      li {
        font-weight: 500;
        font-size: fluid(2rem, 1.6rem);
        line-height: 150%;
      }

      &.numeric {
        list-style: numeric;
      }

      &.disc {
        list-style: disc;
      }

      @media (max-width: em(575)) {
        padding-left: 2.3rem;
      }
    }

    &-bot-sublist {
      list-style: disc;
      margin-top: 0.8rem;
      padding-left: 6rem;

      li {
        font-weight: 400;
        font-size: fluid(1.6rem, 1.4rem);
        line-height: 150%;
      }

      &--bold {
        padding-left: 3rem;

        li {
          font-weight: 500;
        }
      }

      @media (max-width: em(575)) {
        margin-top: 0.5rem;
      }
    }

    &-bot-help {
      gap: 1.5rem;
    }

    &-bot-help-button {
      max-width: 18rem;

      .text {
        gap: 0.8rem;
      }
    }

    &-bot-buttons {
      gap: 2.5rem;

      @media (max-width: em(575)) {
        flex-direction: column;
        gap: 1rem;
      }
    }

    &-bot-button {
      .text {
        gap: 0.8rem;
      }
    }

    &-bot-help-description {
      font-size: 1.6rem;
      line-height: 147%;
    }

    @media (max-width: em(1340)) {
      max-width: 85rem;
    }

    @media (max-width: em(1230)) {
      max-width: 75rem;
    }

    @media (max-width: em(1120)) {
      max-width: 65rem;
    }

    @media (max-width: em(1024)) {
      max-width: initial;
    }

    @media (max-width: em(767)) {
      padding-bottom: 2rem;
      padding-left: 1.5rem;
    }
  }

  //hello
  &__hello {
    gap: 6rem;
    padding-top: 12rem;

    &-info {
      gap: 2rem;

      @media (max-width: em(767)) {
        gap: 1rem;
      }
    }

    &-text {
      gap: 1.5rem;

      @media (max-width: em(767)) {
        gap: 1rem;
      }
    }

    &-title {
      font-family: Montserrat, sans-serif;
      -webkit-text-fill-color: transparent;
      text-fill-color: transparent;
      background: var(--clr-gradient-100);
      -webkit-background-clip: text;
      background-clip: text;
    }

    &-subtitle {
      font-family: Montserrat, sans-serif;
      font-size: fluid(2.6rem, 2rem);
      line-height: 132%;
      color: var(--clr-default-450);
    }

    &-description {
      margin-right: auto;
      margin-left: auto;
      max-width: 57rem;
      font-size: fluid(1.8rem, 1.6rem);
      line-height: 132%;
      color: var(--clr-default-450);
    }

    @media (max-width: em(1200)) {
      gap: 4rem;
      padding-top: 8rem;
    }

    @media (max-width: em(767)) {
      gap: 2rem;
      padding-top: 5rem;
    }
  }

  &__list {
    gap: 1.2rem;

    &-item {
      gap: 1.5rem;
      border-radius: 1.8rem;
      padding-top: 1rem;
      padding-right: 1rem;
      padding-bottom: 0;
      padding-left: 1rem;
      height: max-content;
      background-color: var(--clr-default-120);
      transition: padding-bottom 0.2s;
      cursor: pointer;

      &-image {
        max-width: 4rem;
        transition: transform var(--transition);
      }

      &-title {
        margin-right: auto;
        margin-left: auto;
        max-width: 14rem;
        font-size: 1.4rem;
        line-height: 146%;
      }

      &-description {
        overflow: hidden;
        max-height: 0;
        font-size: 1.4rem;
        line-height: 132%;
        color: var(--clr-default-180);
        transition: max-height 1s cubic-bezier(0, 1, 0, 1);

        @media (max-width: em(575)) {
          padding-bottom: 1rem;
          max-height: initial;
        }
      }

      &-text {
        gap: 1rem;

        max-width: 17rem;
      }

      @media (hover) {
        &:hover {
          padding-bottom: 1rem;

          .hero__list-item-description {
            max-height: 20rem;
            transition: max-height 0.8s ease-in-out;
          }

          .hero__list-item-image {
            transform: scale(1.1);
          }
        }
      }
    }

    @media (max-width: em(475)) {
      flex-direction: column;
    }
  }
  //hello

  //decor
  &__decor-bottom {
    position: absolute;
    left: 50%;
    bottom: -50rem;
    z-index: -1;
    width: 165rem;
    height: 78.5rem;
    background-color: var(--clr-primary-300);
    filter: blur(15rem);
    transform: translateX(-50%);

    &::before,
    &::after {
      content: "";
      position: absolute;
      bottom: 20rem;
      z-index: -1;
      border-radius: 50%;
      width: 78.5rem;
      height: 78.5rem;
      background-color: var(--clr-primary-300);
      filter: blur(8rem);
    }

    &::before {
      left: -44rem;
    }

    &::after {
      right: -44rem;
    }
  }

  @media (max-width: em(1760)) {
    height: initial;
  }

  @media (max-width: em(1300)) {
    margin-top: 2rem;
  }
}
