.modal-language {
  min-width: initial;
  max-width: 46rem;

  &__wrapper {
    gap: 2.4rem;
  }

  &__text {
    gap: 1.5rem;
  }

  &__buttons {
    gap: 2.4rem;
    margin-right: auto;
    margin-left: auto;
  }
}
