.modal-send__history {
  &-title {
    padding-right: 2.5rem;
  }

  &-form {
    gap: 2.4rem;
  }

  &-form-fields {
    gap: 2.4rem;

    @media (max-width: em(575)) {
      gap: 1rem;
    }
  }

  &-form-submit {
    margin-right: auto;
    margin-left: auto;
  }
}
