.modal-success {
  max-width: 45rem;

  .modal-success__wrapper {
    gap: 2rem;
  }

  &__text {
    gap: 0.8rem;
  }

  &__subtitle {
    color: var(--clr-system-400);
  }

  &__icon {
    margin-right: auto;
    margin-left: auto;
    border-radius: 50%;
    width: 7rem;
    height: 7rem;
    background-color: var(--clr-system-400);
  }

  &__description {
    font-size: 1.8rem;
    line-height: 132%;
  }

  &__submit {
    margin-right: auto;
    margin-left: auto;
  }
}
