.header {
  margin-top: 3rem;

  &__wrapper {
    gap: 2rem;
  }

  &__navigation {
    gap: 2.5rem;

    @media (max-width: em(1024)) {
      display: none;
    }
  }

  &__button-bitrix {
    .text {
      padding-right: 2.5rem;
      padding-left: 2.5rem;
      background-color: var(--clr-primary-200);
    }
  }

  &__button {
    &--plans {
      .text {
        font-size: 1.4rem;
        color: var(--clr-default-400);
      }

      .icon {
        width: 2.4rem;
      }
    }
  }

  &__buttons {
    gap: 1rem;

    &-separator {
      width: 0.1rem;
      height: 2rem;
      background-color: var(--clr-primary-400);
    }

    @media (max-width: em(1024)) {
      display: none;
    }
  }

  @media (max-width: em(1300)) {
    margin-top: 1rem;
  }
}
