.header {
  margin-top: 4rem;

  &__wrapper {
    gap: 2rem;
  }

  &__navigation {
    gap: 2.5rem;
  }

  &__button-bitrix {
    .text {
      background-color: var(--clr-primary-200);
    }
  }

  &__button {
    &--plans {
      .text {
        font-size: 1.4rem;
        color: var(--clr-default-400);
      }

      .icon {
        width: 2.4rem;
      }
    }
  }
}
